h1:nth-child(2){
    background: green;
}
a[href*="google"]{
    color: red;
}
a[href*="yahoo"]{
    color: yellow;
}
a[href*="bing"]{
    color: green;
}
input[type="text"]{
    border: 2px solid green;
}